/* Palette Ubisoft */
body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
h1, h2, h3, h4 {
  color: #041e28;
}
.stMetricValue {
  color: #c4bc74 !important;
}
.css-k1vhr4 {  /* sidebar background */
  background-color: #f5f5f5 !important;
}
